@tailwind base;
@tailwind components;
@tailwind utilities;

.nice-scroll-bar {
    scrollbar-width: thin;
    scrollbar-color: #4A5568 #2D3748;
}

.toggle-checkbox:checked {
    right: 0;
    border-color: #3b82f6;
}

.toggle-checkbox:checked+.toggle-label {
    background-color: #3b82f6;
}